*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      body {

        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
       width: 20vw;
       min-width: 350px;
       height: 120%;
       min-height: 300px;
       background-color: none;
      margin: 20px 0px 20px 0px ;
      padding: 20px 0px 20px 0px;
      }

      .swiper-slide {
        background-color: none ;
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .box{
        display:flex;
        flex-direction: column;
        position: relative;
        padding: 15px 10px 15px 10px;
       /* display: flex;*/
        align-items: center;
        justify-content: space-evenly;
        width: 15vw;
        min-width: 320px;
        height: 60vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none;
        border-radius: 30px;
    }

    img{
        width: 70% !important;
        height: auto !important;
        margin-bottom: 30px;
    }
    
    .explain{
        display: none;
        text-align: center;
        margin-top: 20px;
    }
    
    p{
        text-align: center;
        font-size: 0.9rem;
        margin-top: 20px;
    }
    
    #say{
        font-size: 1.3rem;
        text-align: center;
    }

    .result{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .new-result-btn {
      margin-top: 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
     
    .icon_set{
      margin-top: 20px;
      height: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: none;

    }
    #top{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }